body{
    background-image: url(65456332.jpg);
      background-size: cover;

  position: relative;
  background-repeat: no-repeat;
    
}
.CENTRADO{
    width: 200px;
    margin: auto;
}
.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(243, 240, 240, 0.62);
    padding-top: 15;
 }
  
 .login-page {
   padding: 13% 0 0;
   margin: 0 auto 100px;
   max-width: 360px;
   position: relative;
 }
 
  
 .login-form {
     
    box-shadow: 0 0 30px 0 rgb(103, 112, 89);
    /*background-color: rgb(34, 33, 33);*/
    background-color:black;
    opacity: .9;
    border-radius: 8px;
 }
  
  
 .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 5px;
 }
  
 .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
 }
  
 .login-form-font-header span {
    color: white;
 }